spring:
  datasource:
    password: Test123*
    url: jdbc:postgresql://localhost:5432/valetapp
    username: valetappuser
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
